################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoFilesLibrary/bin
/VideoFilesLibrary/VideoFilesLibrary.csproj.user
/VideoFilesLibrary/obj
/.vs
