<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <security>
    <requestFiltering>
      <!-- This will handle requests up to 3.9GB -->
      <requestLimits maxAllowedContentLength="4199999998" />
    </requestFiltering>
  </security>
</system.webServer>
  <system.web>
    <httpRuntime
       executionTimeout = "4199999998"
    />
  </system.web>
</configuration>
