//COLORS
$white: #ffffff;
$bluelight: #2F4264;
$bluedark: #1a2435;
$graylight: #f3f3f3;
$graysoft: #e4e4e4;
$error: #ec4d4d;

$pastel-purplelight: #424ADD;
$pastel-purpledark: #242877;
//FONT FAMILY
$font-default: 'Lato', sans-serif;



//FONTS SIZEs
$fontsize-stack: .9rem;
$fontsize-min: .8rem;
//FONT ICONS
$fa-th-large: fa-th-large;
//LIST
$colors: ( bluedark: $bluedark, bluelight: $bluelight, pastel-purpledark: $pastel-purpledark, pastel-purplelight:$pastel-purplelight );
